:root {
    --clr-primary-red: hsl(10, 79%, 65%);
    --clr-primary-cyan: hsl(186, 34%, 60%);

    --clr-neutral-800: hsl(25, 47%, 15%);
    --clr-neutral-700: hsl(28, 10%, 53%);
    --clr-neutral-300: hsl(27, 66%, 92%);
    --clr-neutral-200: hsl(33, 100%, 98%);

    --ff-main: "DM Sans";
    --fw-regular: 400;
    --fw-bold: 700;
    font-size: 1.125rem;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

body {
    font-family: var(--ff-main);
    font-weight: var(--fw-regular);

    background-color: var(--clr-neutral-300);
    padding: 4rem 1rem;
}

main {
    flex: 1;
    max-width: 550px;
}

main > section:nth-child(n + 1) {
    border-radius: 15px;
    padding: 1.25rem 1.15rem;
}

.hidden {
    display: none;
}

.balance {
    background-color: var(--clr-primary-red);
    color: var(--clr-neutral-200);

    display: flex;
    justify-content: space-between;
}

.balance__info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: space-between;
}

.balance__title {
    font-size: 0.875rem;
}

.balance__value {
    font-weight: 700;
    font-size: 1.35rem;
}

.balance__img {
    display: flex;
    align-items: center;
}

.spending {
    background-color: var(--clr-neutral-200);
    margin-top: 1rem;
    color: var(--clr-neutral-700);
}

.spending__graph {
    border-bottom: 2px solid var(--clr-neutral-300);
    padding-bottom: 1.15rem;
    margin-bottom: 1.15rem;
}

.graph__title {
    color: var(--clr-neutral-800);
    font-size: 1.3rem;
    font-weight: var(--fw-bold);
    margin-bottom: 2rem;
}

.graph__bars {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2%;
    font-size: 0.65rem;
    justify-items: center;
    align-items: end;
    text-align: center;
}

.graph__bar {
    width: 100%;
}

.bar__bar {
    background-color: var(--clr-primary-red);
    border-radius: 3px;
    height: 50px;
    margin-bottom: 0.652rem;
}

.bar__amount {
    border-radius: 5px;
    font-weight: var(--fw-bold);
    width: 120%;
    position: relative;
    left: -10%;
    margin-inline: auto;
    margin-bottom: 0.45rem;
    background-color: var(--clr-neutral-800);
    color: var(--clr-neutral-300);
    padding-block: 0.4em;
}

.spending__total {
    display: flex;
    justify-content: space-between;
}
.spending__total > * {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
    font-size: 0.8rem;
}

.total__diff {
    justify-content: flex-end;
    align-items: flex-end;
    gap: 0.1rem;
}

.total__value {
    color: var(--clr-neutral-800);
    font-size: 2em;
    font-weight: var(--fw-bold);
}

.diff__value {
    color: var(--clr-neutral-800);
    font-weight: var(--fw-bold);
    font-size: 0.9rem;
}

@media (min-width: 550px) {
    body {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .balance__title {
        font-size: 1rem;
    }
    .balance__value {
        font-size: 1.75rem;
    }
    .graph__title {
        font-size: 1.75rem;
    }
    .graph__bars {
        font-size: 0.8125rem;
        gap: 1rem;
    }
    .spending__total > * {
        font-size: 1rem;
    }
    .total__value {
        font-size: 2.5em;
    }
    main > section:nth-child(3) {
        padding: 2rem 1.75rem;
    }
}
